@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nanumSquare: var(--font-nanumSquare);
  --font-nanumSquareBold: var(--font-nanumSquareBold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nanumSquare, --font-nanumSquareBold);
}

#memo::-webkit-scrollbar {
  width: 4px;
}

#memo::-webkit-scrollbar-track {
  background: transparent;
}

#memo::-webkit-scrollbar-thumb {
  background-color: #fde68a;
  border-radius: 3px;
  /* border: 4px solid transparent; */
  background-clip: content-box;
  min-height: 10px;
}
